.grp-action-sheet {
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
.grp-action-sheet.active{
  left: 0;
}
.action-sheet-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  background: #fff;
  transition: all 0.5s;
}
.grp-action-sheet.active .action-sheet-panel{
  transform: translateY(0);
}
.action-sheet-header {
  background: #f5f5f5;
  text-align: center;
  padding: 10px 0;
}
.action-sheet-cancel{
  background: #f5f5f5;
  text-align: center;
  padding: 10px 0;
}